<!DOCTYPE html>
<html>
  <head>
    <title>ssss</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <%- include head %>
     <div class="right">

      </div>
  </body>
</html>
