<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!--<h1><%= ask %></h1>-->
   
    <p>Welcome to <%= title %></p>
    <p><%= ask %></p>
    <a href="/login">登录</a>
  </body>
</html>
