<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
     <%- include head %>
    <h1><%= ask %></h1>
    <div class="right">
      <p>Welcome to <%= title %></p>
    </div>
    <!--<a href="/login">登录</a>
    <br/>
     <a href="/reg">注册</a>-->
  </body>
</html>
