<!DOCTYPE html>
<html>
  <head>
    <title>ssss</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p> <%- include comp_a %></p>
    <p>sssaaaaaassss</p>
  </body>
</html>
